#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘


# mac system files
Icon?
.DS_Store

# private files
.env
.variables
ignore/**
dontreadme.md

# editor settings
.vscode
.idea*
**/tags

# other
!.gitkeep
**/__pycache__/**

